################################################################################
# Highlight Languages Test Suite                                               #
# https://gitlab.com/tajmone/highlight-test-suite                              #
################################################################################
* text=auto
# ==============================================================================
#                                 PROJECT FILES
# ==============================================================================

## =============
## DOCUMENTATION
## =============
*.adoc       text
*.asciidoc   text
*.markdown   text
*.md         text
*.txt        text
COPYING      text
LICENSE      text

## ================
## GIT CONFIG FILES
## ================
.gitattributes text
.gitconfig     text
.gitignore     text
.gitmodules    text

## =============
## SHELL SCRIPTS
## =============
*.bat      text eol=crlf
*.com      text eol=crlf
*.sh       text eol=lf
*.ps1      text eol=crlf

# ==============================================================================
#                              TEST-LANGUAGES FILES
# ==============================================================================
# When a new language is added to the tests, all its associated files extensions
# should be added to this section to ensure correct EOL normalization.

## PureBasic
############
*.pb       text
*.pbi      text
*.pbp      text
*.pbf      text
*.cfg      text

# ==============================================================================
#                                GitHub Linguist
# ==============================================================================
#  -- https://github.com/github/linguist
#
# Manually define/override some extension so that GitHub's Linguist library can
# 1) Correctly gather statistics on source files, and
# 2) Use proper syntax highlighting on GitHub's WebUI.

## PureBASIC project files
## ---------------------------
*.cfg    linguist-generated=true
*.pbf    linguist-language=PureBasic
*.pbp    linguist-generated=true
*.pbp    linguist-language=XML

# EOF #
