################################################################################
# Highlight Languages Test Suite                                               #
# https://gitlab.com/tajmone/highlight-test-suite                              #
################################################################################

# ==============================================================================
#                                 PROJECT FILES
# ==============================================================================

# Highlight generated html/css files_ 
*.html
highlight.css
# NOTE: To test HTML syntax use *.htm extension instead!

# TMP Work Files
___*.*

# Sass
*.css.map

# ==============================================================================
#                              TEST-LANGUAGES FILES
# ==============================================================================
# When a new language is added to the tests, all its associated temporary files'
# patterns (created by an editor/IDE or compiler) should be added to this section
# to exclude them from the project.


## PureBasic
############
purebasic/*.pb.cfg
purebasic/*.pbi.cfg
purebasic/*.pbp
purebasic/project.cfg


## Hugo Interactive Fiction
###########################
hugo/*.lst
hugo/*.hex

# ==============================================================================
#                        GENERAL PURPOSE IGNORE PATTERNS
# ==============================================================================

# Log Files
# *.log
# Links and URLs
*.lnk
*.url
# Shared libraries
*.so
*.dylib
*.dll
# Binary executables
*.exe
*.app
*.out

# Based on ".gitignore" created by:
# https://www.gitignore.io/api/windows,linux,macos

## Linux
########

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

## macOS
########
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Windows
##########

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# EOF #
